@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 20px;
  padding-top: 60px;
}

body > .content {
  padding: 30px;
}

.topnav {
  width: 100%;
  background: #11101D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 20px;
}
.topnav a {
  text-decoration: none;
}
.topnav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.topnav .menu .icon {
  font-size: 24px;
  color: #fff;
  transition: 0.3s;
}
.topnav .admin:hover .name,
.topnav .menu .icon:hover {
  color: #007bff;
}
.topnav .admin .name{
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}
.topnav .admin img {
  vertical-align: middle;
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}


.sidebar {
  position: fixed;
  width: 250px;
  z-index: 10;
  height: calc(100% - 60px);
  overflow-y: auto;
  bottom: 0;
  left: -300px;
  background: #11101d;
  transition: 0.3s;
}
.sidebar.show {
  left: 0px;
}
.sidebar .icon{
  margin-right: 20px;
  font-size: 24px;
}
.sidebar .menu-list {
  list-style: none;
}
.sidebar .menu-list li .dropdown,
.sidebar .menu-list li a {
  position: relative;
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.sidebar .menu-list .dropdown:hover,
.sidebar .menu-list li.active a,
.sidebar .menu-list li a:hover{
  background: #282645;
  border-left: 5px solid #fff;
}
.sidebar .menu-list li .drop-menu{
  display: none;
}
.sidebar .menu-list li .drop-menu.show {
  display: block;
}
.sidebar .menu-list li .drop-menu li{
  background: #161526;
}
.sidebar .menu-list li .drop-menu li a{
  padding-left: 40px;
}
.sidebar .menu-list li .dropdown .caret{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 24px;
}



.form input,
.form select,
.form textarea {
  width: 100%;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  resize: none;
}

.form label {
  display: block;
}


.table {
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table th {
  border: 1px solid #000000;
  padding: 5px;
}

.table form{
  display: inline;
}
.table button {
  border: none;
  background: none;
  font-size: 16px;
  color: #FF2C20;
}

.table a{
  color: #74C0FC
}


.button {
  position: relative;
  padding-left: 60px;
  padding-right: 30px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  margin-bottom: 20px;
}
.button .circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 500px;
  transform: translateY(-50%);
  left: 0;
  top: 50%;
  background: #282936;
  color: #ffffff;
  transition: width 0.3s ease;
  z-index: -1;
}
.button .circle .icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 25px;
  top: 50%;
}
.button:hover {
  color: #ffffff;
}
.button:hover .circle {
  width: 100%;
}


.login .container img {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.login .container {
  padding: 30px;
  margin: 0 auto;
  max-width: 384px;
  background: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
}
.login .container input {
  padding: 5px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  background: #ededed;
}
.login .error {
  color: #FF2C20;
  font-size: 14px;
  margin-bottom: 10px;
}
.login .container button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  display: block;
  margin-left: auto;
  background: #42aaff;
  transition: 0.3s;
  color: #000000;
}
.login .container button:hover {
  background: #1495ff;
}